<h2 id="title">Welcome to Ember</h2>
<div>
{{#link-to "sessions"}} Sessions {{/link-to}}
{{#link-to "speakers"}} Speakers {{/link-to}}
{{#link-to "tracks"}} Tracks {{/link-to}}
</div>
<div>
{{outlet}}
</div>
